<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791536749284-3q3lda9i5tg4ts81tt533r2nn6oijja7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791536749284-3q3lda9i5tg4ts81tt533r2nn6oijja7</string>
	<key>API_KEY</key>
	<string>AIzaSyCWRx_bmzp2AgBYc3uEXuO1Rb0dLdL12Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>791536749284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medimart</string>
	<key>PROJECT_ID</key>
	<string>medi-mart-afef0</string>
	<key>STORAGE_BUCKET</key>
	<string>medi-mart-afef0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791536749284:ios:8a06ba5ba5eb0466a1faf1</string>
</dict>
</plist>